extends ../layout


block content
  .authCard.my-xl
    img.cardImg.cardImgDesktop(src="/images/login.png", alt="")
    img.cardImg.cardImgMobile(src="/images/login-m.png", alt="")
    .cardContent.flex.flex-column.justify-content-space-between
      login-form(old-inputs=oldInputs, server-error=errors, for-admin=forAdmin? 'true' : false, admin-path=adminPath)
      .flex.justify-content-center
        a.anchor-reset.text-primary.text-center(href="/signup") Haven’t registered yet? Create an account.

block preScript
  script(src="/js/user-login.bundle.js")