doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    meta(name="csrf-token", content=csrfToken)
  body
    #app
      include ./includes/topbar.pug
      block content
  script(src="/js/bundle.js")
