doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    meta(name="csrf-token", content=csrfToken)
  body
    #app
      block content
  script(src="/js/bundle.js")
