/*
  ========== Colors Variable ==========
*/
/*
  ========== Shadow Variable ==========
*/
/*
  ========= Animation speeds ========
*/
/*
  ========= Class specifications ========
*/
/*
  ========= Setting the environment =========
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  padding: 0;
  margin: 0;
  color: #383838;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9; }

@media (max-width: 768px) {
  html {
    font-size: 14px; } }

/*
  ========= Button Classes =========
*/
.btn {
  padding: 8px 12px;
  border-radius: 2px;
  outline: none;
  border: none;
  text-decoration: none;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.17);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer; }
  .btn:disabled {
    opacity: 0.5; }

.btn.btn-simple {
  box-shadow: none; }

.btn.btn-lg {
  padding: 10px 15px;
  font-size: 1.2rem; }

.btn.btn-sm {
  padding: 6px 8px; }

.btn-default {
  background-color: #ffffff;
  color: #383838; }

.btn-primary {
  background-color: #2f6dca;
  color: #ffffff; }

@media (max-width: 768px) {
  .btn {
    padding: 8px 12px; } }

/*
  ========= Card Classes =========
*/
.card {
  background-color: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.17); }
  .card .card-header {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #d9d9d9;
    font-weight: 500; }
  .card .card-body {
    padding: 15px; }

.card-medium {
  max-width: 800px; }

.card-full {
  width: 100%; }

/*
  ========= Anchor Classes =========
*/
.anchor-reset {
  text-decoration: none;
  color: initial; }
  .anchor-reset:active {
    color: initial;
    text-decoration: none; }
  .anchor-reset:hover {
    text-decoration: underline; }

/*
  ========= Form Classes =========
*/
.input-container {
  display: flex;
  flex-direction: column;
  max-width: 600px; }
  .input-container .input-label {
    font-size: 1rem; }
  .input-container .input-box {
    width: 100%;
    max-width: 600px;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.17);
    margin: 0.3rem 0;
    background-color: #ffffff; }
    .input-container .input-box:focus {
      outline-color: #2f6dca; }
    .input-container .input-box.input-box-invalid {
      outline: 1px solid #e93f3f; }

@media (max-width: 425px) {
  .input-container .input-box {
    padding: 8px; } }

/*
  ========= Flex properties =========
*/
.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.align-items-center {
  align-items: center; }

/*
  ========= Text properties =========
*/
.text-center {
  text-align: center; }

.text-small {
  font-size: 0.8rem; }

.text-uppercase {
  text-transform: uppercase; }

.text-bold {
  font-weight: bold; }

.text-medium {
  font-weight: 500; }

.text-primary {
  color: #2f6dca; }

.text-danger {
  color: #e93f3f; }

.text-mute {
  opacity: 0.8; }

.text-default {
  color: #383838; }

/*
  ========= Loader classes =========
*/
.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }
  .loader::after {
    content: '';
    animation-name: loaderAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100px;
    height: 100px;
    border: 5px solid #f2f2f2;
    border-top-color: #2f6dca;
    border-radius: 50%; }
  .loader.loader-lg::after {
    width: 150px;
    height: 150px;
    border-width: 8px; }

@keyframes loaderAnimation {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/*
  ========= Display classes =========
*/
.d-none {
  display: none; }

/*
  ========= Width and height =========
*/
.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

/*
  ========= Margin and paddings =========
*/
.m-auto {
  margin: auto; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mb-auto {
  margin-bottom: auto; }

.mt-auto {
  margin-top: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.m-0 {
  margin: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.m-2 {
  margin: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.mx-2 {
  margin-left: 0.125rem;
  margin-right: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4 {
  margin-bottom: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.m-6 {
  margin: 0.375rem; }

.ml-6 {
  margin-left: 0.375rem; }

.mr-6 {
  margin-right: 0.375rem; }

.mb-6 {
  margin-bottom: 0.375rem; }

.mt-6 {
  margin-top: 0.375rem; }

.my-6 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem; }

.mx-6 {
  margin-left: 0.375rem;
  margin-right: 0.375rem; }

.m-8 {
  margin: 0.5rem; }

.ml-8 {
  margin-left: 0.5rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.mt-8 {
  margin-top: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.m-10 {
  margin: 0.625rem; }

.ml-10 {
  margin-left: 0.625rem; }

.mr-10 {
  margin-right: 0.625rem; }

.mb-10 {
  margin-bottom: 0.625rem; }

.mt-10 {
  margin-top: 0.625rem; }

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem; }

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

.m-s {
  margin: 0.75rem; }

.ml-s {
  margin-left: 0.75rem; }

.mr-s {
  margin-right: 0.75rem; }

.mb-s {
  margin-bottom: 0.75rem; }

.mt-s {
  margin-top: 0.75rem; }

.my-s {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.mx-s {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.m-m {
  margin: 0.9375rem; }

.ml-m {
  margin-left: 0.9375rem; }

.mr-m {
  margin-right: 0.9375rem; }

.mb-m {
  margin-bottom: 0.9375rem; }

.mt-m {
  margin-top: 0.9375rem; }

.my-m {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem; }

.mx-m {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem; }

.m-l {
  margin: 1.25rem; }

.ml-l {
  margin-left: 1.25rem; }

.mr-l {
  margin-right: 1.25rem; }

.mb-l {
  margin-bottom: 1.25rem; }

.mt-l {
  margin-top: 1.25rem; }

.my-l {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.mx-l {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.m-xl {
  margin: 1.5625rem; }

.ml-xl {
  margin-left: 1.5625rem; }

.mr-xl {
  margin-right: 1.5625rem; }

.mb-xl {
  margin-bottom: 1.5625rem; }

.mt-xl {
  margin-top: 1.5625rem; }

.my-xl {
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem; }

.mx-xl {
  margin-left: 1.5625rem;
  margin-right: 1.5625rem; }

.p-auto {
  padding: auto; }

.pl-auto {
  padding-left: auto; }

.pr-auto {
  padding-right: auto; }

.pb-auto {
  padding-bottom: auto; }

.pt-auto {
  padding-top: auto; }

.py-auto {
  padding-top: auto;
  padding-bottom: auto; }

.px-auto {
  padding-left: auto;
  padding-right: auto; }

.p-0 {
  padding: 0rem; }

.pl-0 {
  padding-left: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pt-0 {
  padding-top: 0rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.p-2 {
  padding: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.px-2 {
  padding-left: 0.125rem;
  padding-right: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.p-6 {
  padding: 0.375rem; }

.pl-6 {
  padding-left: 0.375rem; }

.pr-6 {
  padding-right: 0.375rem; }

.pb-6 {
  padding-bottom: 0.375rem; }

.pt-6 {
  padding-top: 0.375rem; }

.py-6 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; }

.px-6 {
  padding-left: 0.375rem;
  padding-right: 0.375rem; }

.p-8 {
  padding: 0.5rem; }

.pl-8 {
  padding-left: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.p-10 {
  padding: 0.625rem; }

.pl-10 {
  padding-left: 0.625rem; }

.pr-10 {
  padding-right: 0.625rem; }

.pb-10 {
  padding-bottom: 0.625rem; }

.pt-10 {
  padding-top: 0.625rem; }

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.p-s {
  padding: 0.75rem; }

.pl-s {
  padding-left: 0.75rem; }

.pr-s {
  padding-right: 0.75rem; }

.pb-s {
  padding-bottom: 0.75rem; }

.pt-s {
  padding-top: 0.75rem; }

.py-s {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.px-s {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.p-m {
  padding: 0.9375rem; }

.pl-m {
  padding-left: 0.9375rem; }

.pr-m {
  padding-right: 0.9375rem; }

.pb-m {
  padding-bottom: 0.9375rem; }

.pt-m {
  padding-top: 0.9375rem; }

.py-m {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }

.px-m {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.p-l {
  padding: 1.25rem; }

.pl-l {
  padding-left: 1.25rem; }

.pr-l {
  padding-right: 1.25rem; }

.pb-l {
  padding-bottom: 1.25rem; }

.pt-l {
  padding-top: 1.25rem; }

.py-l {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.px-l {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.p-xl {
  padding: 1.5625rem; }

.pl-xl {
  padding-left: 1.5625rem; }

.pr-xl {
  padding-right: 1.5625rem; }

.pb-xl {
  padding-bottom: 1.5625rem; }

.pt-xl {
  padding-top: 1.5625rem; }

.py-xl {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem; }

.px-xl {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem; }

.topbar {
  display: flex;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.17);
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .topbar .logo {
    height: 25px;
    width: auto; }
  .topbar .searchBar {
    display: flex;
    justify-content: center;
    align-items: center; }
    .topbar .searchBar .searchInput {
      background-color: #f2f2f2;
      width: 450px;
      height: 35px;
      outline: none;
      border: none;
      border-radius: 2px;
      text-align: center;
      font-size: 1.2rem; }
    .topbar .searchBar .searchIcon {
      outline: none;
      border: none;
      background-color: #2f6dca;
      color: #ffffff;
      height: 35px;
      width: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 2px 2px 0; }
  .topbar.topbar-sm {
    padding: 10px 15px; }
  .topbar .navToggle {
    display: none; }

@media (max-width: 1024px) {
  .topbar .logo {
    height: 22px; }
  .topbar .searchBar .searchInput {
    width: 400px; } }

@media (max-width: 768px) {
  .topbar {
    flex-wrap: wrap; }
    .topbar .btnContainer,
    .topbar .logo {
      margin-bottom: 10px; }
    .topbar .logo {
      height: 20px; }
    .topbar .searchBar {
      width: 100%;
      order: 3; }
      .topbar .searchBar .searchInput {
        width: 100%;
        height: 32px; }
      .topbar .searchBar .searchIcon {
        height: 32px; }
    .topbar.topbar-sm .logo,
    .topbar.topbar-sm .btnContainer {
      margin-bottom: 0; }
    .topbar .navToggle {
      display: block; } }

.authCard {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.17);
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%; }
  .authCard .cardImgDesktop {
    display: block; }
  .authCard .cardImgMobile {
    display: none; }
  .authCard .cardImg {
    max-width: 400px;
    min-width: 200px;
    width: 40%;
    height: auto;
    max-height: 700px; }
  .authCard .cardContent {
    flex: 1;
    padding: 40px; }

@media (max-width: 1400px) {
  .authCard {
    width: 70%; } }

@media (max-width: 1024px) {
  .authCard {
    width: 80%; } }

@media (max-width: 768px) {
  .authCard {
    flex-direction: column; }
    .authCard .cardImgDesktop {
      display: none; }
    .authCard .cardImgMobile {
      display: block; }
    .authCard .cardImg {
      width: 100%;
      height: auto;
      max-width: none;
      min-width: none;
      max-height: none; }
    .authCard .cardContent {
      padding: 30px; } }

@media (max-width: 425px) {
  .authCard {
    width: 90%; }
    .authCard .cardContent {
      padding: 20px; } }

.adminNav {
  width: 300px;
  background-color: #383838;
  color: #ffffff;
  height: 100vh;
  transition: width 0.3s;
  position: fixed;
  top: 0;
  left: 0; }
  .adminNav .navToggle {
    display: flex;
    flex-direction: row-reverse; }
    .adminNav .navToggle .navToggleIcon {
      padding: 15px;
      font-size: 1.8rem;
      cursor: pointer; }
  .adminNav .navContent {
    margin-top: 4rem; }
    .adminNav .navContent .linksContainer .link {
      color: #ffffff;
      text-decoration: none;
      padding: 15px 20px;
      display: flex;
      align-items: center; }
      .adminNav .navContent .linksContainer .link .linkIcon {
        font-size: 1.8rem;
        margin-right: 1rem; }
    .adminNav .navContent .linksContainer .link:hover {
      background-color: #525252; }
    .adminNav .navContent .linksContainer .link.active {
      background-color: #2f6dca; }

#navToggle:checked ~ .adminNav {
  width: 70px; }
  #navToggle:checked ~ .adminNav .navToggle {
    justify-content: center; }
  #navToggle:checked ~ .adminNav .navContent .linksContainer .link .linkIcon {
    margin-right: 0; }
  #navToggle:checked ~ .adminNav .navContent .linksContainer .link .linkText {
    display: none; }

.adminNavMargin {
  margin-left: 300px;
  transition: margin 0.3s; }

#navToggle:checked ~ .adminNavMargin {
  margin-left: 70px; }

@media (max-width: 768px) {
  .adminNav {
    width: 200px;
    transition: transform 0.3s;
    transform: translateX(-100%);
    z-index: 100; }
  .adminNavMargin {
    margin-left: 0; }
  #navToggle:checked ~ .adminNavMargin {
    margin-left: 0; }
  #navToggle:checked ~ .adminNav {
    width: 200px;
    transform: translateX(0); }
    #navToggle:checked ~ .adminNav .navToggle {
      justify-content: right; }
    #navToggle:checked ~ .adminNav .navContent .linksContainer .link .linkIcon {
      margin-right: 1rem; }
    #navToggle:checked ~ .adminNav .navContent .linksContainer .link .linkText {
      display: block; } }
