.adminNav {
  width: 300px;
  background-color: $text-color;
  color: $brand-counter-color;
  height: 100vh;
  transition: width $default-animation-time;
  position: fixed;
  top: 0;
  left: 0;

  .navToggle {
    display: flex;
    flex-direction: row-reverse;

    .navToggleIcon {
      padding: 15px;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .navContent {
    margin-top: 4rem;

    .linksContainer {
      .link {
        color: $brand-counter-color;
        text-decoration: none;
        padding: 15px 20px;
        display: flex;
        align-items: center;

        .linkIcon {
          font-size: 1.8rem;
          margin-right: 1rem;
        }
      }

      .link:hover {
        background-color: lighten($color: $text-color, $amount: 10);
      }

      .link.active {
        background-color: $brand-color;
      }
    }
  }
}

#navToggle:checked ~ .adminNav {
  width: 70px;

  .navToggle {
    justify-content: center;
  }

  .navContent {
    .linksContainer {
      .link {
        .linkIcon {
          margin-right: 0;
        }
        .linkText {
          display: none;
        }
      }
    }
  }
}

.adminNavMargin {
  margin-left: 300px;
  transition: margin $default-animation-time;
}

#navToggle:checked ~ .adminNavMargin {
  margin-left: 70px;
}

@media (max-width: 768px) {
  .adminNav {
    width: 200px;
    transition: transform $default-animation-time;
    transform: translateX(-100%);
    z-index: 100;
  }

  .adminNavMargin {
    margin-left: 0;
  }

  #navToggle:checked ~ .adminNavMargin {
    margin-left: 0;
  }

  #navToggle:checked ~ .adminNav {
    width: 200px;
    transform: translateX(0);

    .navToggle {
      justify-content: right;
    }

    .navContent {
      .linksContainer {
        .link {
          .linkIcon {
            margin-right: 1rem;
          }
          .linkText {
            display: block;
          }
        }
      }
    }
  }
}
