footer.footer
  .logoContainer
    img.logo(src="/images/logo.svg")

  .footerContent.flex.flex-wrap.justify-content-space-between
    .linksContainer.flex.flex-column
      .heading.text-bold.text-uppercase.mb-s Shopping
      .links.flex.flex-column
        a.anchor-reset.mb-8(href="#") Mens
        a.anchor-reset.mb-8(href="#") Womens
        a.anchor-reset.mb-8(href="#") Kids
        a.anchor-reset(href="#") Unisex

    .linksContainer.flex.flex-column
      .heading.text-bold.text-uppercase.mb-s Useful Links
      .links.flex.flex-column
        a.anchor-reset.mb-8(href="#") About us
        a.anchor-reset.mb-8(href="#") Contact us
        a.anchor-reset.mb-8(href="#") Terms and conditions
        a.anchor-reset(href="#") Privacy policy

    .socialLinksContainer.flex.flex-column
      .heading.text-bold.text-uppercase.mb-s Connect with us
      .flex
        a.anchor-reset.mr-xl(href="#") 
          img.socialIcon(src="/images/icons/twitter.png", alt="Twitter icon")
        a.anchor-reset.mr-xl(href="#") 
          img.socialIcon(src="/images/icons/facebook.png", alt="Twitter icon")
        a.anchor-reset.mr-xl(href="#") 
          img.socialIcon(src="/images/icons/youtube.png", alt="Twitter icon")
        a.anchor-reset(href="#") 
          img.socialIcon(src="/images/icons/instagram.png", alt="Twitter icon")

  .text-small.text-center.w-100 © 2020 Ecommerce All rights reserved

    