.topbar
  a(href="/")
    img.logo(src="/images/logo.svg")
  search-bar
  .btnContainer.flex
    if isLoggedIn
      form(action="/logout", method="post")
        include ./csrfInput.pug
        button.btn.btn-default.btn-simple(type="submit") Logout 
    else
      a.btn.btn-default.btn-simple.mr-s(href="/login") Login
      a.btn.btn-primary(href="/signup") Signup
    