.topbar.flex.justify-content-around.align-items-center
  img.logo(src="/images/logo.svg")
  search-bar
  .btnContainer.flex
    a.btn.btn-default.btn-simple.mr-s(href="/login") Login
    a.btn.btn-primary(href="/signup") Signup