doctype html
html
  head
    meta(content="width=device-width, initial-scale=1", name="viewport")
    include ./includes/seo.pug
    link(rel='stylesheet', href='/css/main.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    meta(name="csrf-token", content=csrfToken)
  body
    #app
      include ./includes/topbar.pug
      block content
      include ./includes/footer.pug
  script(src="/js/bundle.js")
