.topbar.topbar-sm.flex.justify-content-around.align-items-center
  img.logo(src="/images/logo.svg")
  .btnContainer.flex
    form(action="/logout", method="post")
      csrf-input
      button.btn.btn-default.btn-simple(type="submit") Logout 
    